body{
  padding: 0;/*espacio de relleno requerido por todos los lados de un elemento*/
  margin: 0;/*margen de los cuatro lados  */
}
.contenedor-index {/*caja padre2*/
  width: 1300px;/*ancho de un elemento*/
  height: 690px;/*altura de un elemnto */
  display: flex;/*Los elementos se distribuyen de izquierda a derecha*/
  align-items: center;/*alineacion de elementos*/
  justify-content: center;/* distribuye el espacio entre y alrededor de los items flex*/
  position:absolute;/*posicionar elementos de manera absoluta*/
  text-align: center; /*alineacion del texto en el centro*/
}
.contenedor-titulo{
  text-align: center;
}
.contenedor-titulo h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;/*fuentes del texto*/
  font-size: 27pt;/*dimension de letras*/
  text-shadow: rgba(224, 171, 97, 0.883) 0.1em 0.1em 0.2em /*sombra del texto*/

}
h2, h3, h4 {
  font-size: 15pt;/*dimension de letras*/
  align-items: center;
  justify-content: center;/* distribuye el espacio entre y alrededor de los items flex*/
  vertical-align: middle;/*elementos inline vertical*/
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}
p{
    font-size: 15pt;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    text-align: center;
    font-weight: bolder; /*ponerlo en negrita*/
}
#contenedor{
background: rgba(222, 184, 135, 0.931);/*color de fonde del cuadro*/
border-radius: 10px;/*redondear bordes del cuadro*/
box-shadow: 3px 3px 7px 1px #333;/*sombra del cuadro*/
}
.margen{
  width: 60%;/*ancho del area del elemento */
}

input{
    background-color: beige;/*color de fonde del imput*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;/*color de letras*/
    height: 40px;/*altura*/
    width: auto; /*ancho*/
    border-radius: 12px; /*redondear bordes*/
    border: solid 2pt black;/*borde*/
    text-align: center;
  }
  img{
    width: 100%;/*ancho de la imagene de fondo*/
    height: 120%;/*altura de la imagen de fondo*/
    position: absolute;/*posicion de la imagen de fondo*/
    opacity: 0.9;/*la opacidad*/
  }
  button{
      background-color: rgb(155, 120, 81);/*color de fondo de botones*/
      border-radius: 12px;/*redondea el borde*/
      border: solid 2pt black;
      padding: 10px;/*espacio entre el contenido y su borde */
      width: 200px;/*ancho del boton */
      font-size: 12pt;/*dimension de letras*/
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-align: center;
      color: black;
  }
  button:hover {
    background: rgb(170, 60, 20);/*color de fondo al interactuar*/
    cursor: pointer;/*efecto con la flecha del mouse*/
  }
